<%- include('includes/layout-header.ejs') %>


<% for (let p of posts) { %>
  <p class="ic4f-blog-list-date"><%= dateFormat(p.date, 'mmmm d, yyyy') %></p>
  <p class="ic4f-blog-list-title"><a href="<%= p.url %>"><%= p.title %></a></p>
  <p class="ic4f-blog-list-excerpt"><%= p.excerpt %>
    <a class="ic4f-blog-list-more" href="<%= p.url %>">...read more</a></p>
<% } %>




<%- include('includes/layout-footer.ejs') %>
