<%- include('includes/layout-header.ejs') %>


<select class="custom-select">
  <option selected>all years</option>
  <% for (let i = 2017; i > 1998; i--) { %>
  <option value="<%= i %>"><%= i %> (<%= 12 %>)</option>
  <% } %>
</select>


<select class="custom-select">
  <option selected>all types</option>
  <% for (let foo of languages) { %>
  <option value="<%= foo._id %>"><%= foo.name %> (<%= foo.projects %>)</option>
  <% } %>
</select>


<select class="custom-select">
  <option selected>all languages</option>
  <% for (let foo of languages) { %>
  <option value="<%= foo._id %>"><%= foo.name %> (<%= foo.projects %>)</option>
  <% } %>
</select>

<select class="custom-select">
  <option selected>all frameworks</option>
  <% for (let foo of  frameworks) { %>
  <option value="<%= foo._id %>"><%= foo.name %> (<%= foo.projects %>)</option>
  <% } %>
</select>

<select class="custom-select">
  <option selected>all databases</option>
  <% for (let foo of databases) { %>
  <option value="<%= foo._id %>"><%= foo.name %> (<%= foo.projects %>)</option>
  <% } %>
</select>

<button>reset</button>

  <p>

<table class="table table-bordered ic4f-projects">
  <tr>
    <th>#</th>
    <th>project</th>
    <th nowrap>what is it</th>
    <th nowrap>when was it</th>
    <th>languages</th>
    <th nowrap>frameworks &amp; tools</th>
    <th>database</th>
    <th>description</th>
  </tr>


<% let num = 1; %>
<% for (let i=0; i<6; i++) { %>
<% for (let p of projects) {  %>

  <tr>
    <td class="text-center"><%= num %></td>
    <td><%- tmpLink(p.name) %></td>
    <td><%= p.types %></td>
    <td>2016 - 2017</td>
    <td><%- makeList(p.languages, 'name') %></td>
    <td><%- makeList(p.frameworks, 'name') %></td>
    <td><%- makeList(p.databases, 'name') %></td>
    <td>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque
      laudantium.</td>
  </tr>
<% num++; %>
<% } %>
<% } %>

</table>

<%- include('includes/layout-footer.ejs') %>
