<%- include('includes/layout-header.ejs') %>

<div class="ic4f-h-filter-container">
  <select class="custom-select">
    <option selected>all languages</option>
    <% for (let foo of languages) { %>
    <option value="<%= foo._id %>"><%= foo.name %> (<%= foo.projects %>)</option>
    <% } %>
  </select>
  
  <select class="custom-select">
    <option selected>all frameworks +</option>
    <% for (let foo of  frameworks) { %>
    <option value="<%= foo._id %>"><%= foo.name %> (<%= foo.projects %>)</option>
    <% } %>
  </select>
  
  <select class="custom-select">
    <option selected>all databases</option>
    <% for (let foo of databases) { %>
    <option value="<%= foo._id %>"><%= foo.name %> (<%= foo.projects %>)</option>
    <% } %>
  </select>
</div>

<table class="table table-bordered table-striped ic4f-projects">
  <tr>
    <th class="text-center">#</th>
    <th>what</th>
    <th class="text-center">when</th>
    <th>what is it</th>
    <th>languages</th>
    <th>frameworks +</th>
    <th class="text-center">databases</th>
  </tr>

<% let num = 1; %>
<% for (let p of projects) {  %>

  <tr>
    <td class="text-center"><%= num %></td>
    <td class="cell-project"><%- getProject(p) %></td>
    <td class="cell-years"><%= getYears(p) %></td>
    <td><%- p.description %></td>
    <td class="cell-ln"><%- makeList(p.languages, 'name') %></td>
    <td class="cell-ft"><%- makeList(p.frameworks, 'name') %></td>
    <td nowrap class="cell-db"><%- makeList(p.databases, 'name') %></td>

  </tr>
<% num++; %>
<% } %>

</table>

<%- include('includes/layout-footer.ejs') %>
