<%- include('includes/layout-header.ejs') %>


<select class="custom-select">
  <option selected>all years</option>
  <% for (let i = 2017; i > 1998; i--) { %>
  <option value="<%= i %>"><%= i %> (<%= 12 %>)</option>
  <% } %>
</select>


<select class="custom-select">
  <option selected>all languages</option>
  <% for (let foo of languages) { %>
  <option value="<%= foo._id %>"><%= foo.name %> (<%= foo.projects %>)</option>
  <% } %>
</select>

<select class="custom-select">
  <option selected>all frameworks</option>
  <% for (let foo of  frameworks) { %>
  <option value="<%= foo._id %>"><%= foo.name %> (<%= foo.projects %>)</option>
  <% } %>
</select>

<select class="custom-select">
  <option selected>all databases</option>
  <% for (let foo of databases) { %>
  <option value="<%= foo._id %>"><%= foo.name %> (<%= foo.projects %>)</option>
  <% } %>
</select>

<p>

<table class="table table-bordered table-striped ic4f-projects">
  <tr>
    <th>#</th>
    <th>project</th>
    <th nowrap>years</th>
    <th>description</th>
    <th nowrap>languages</th>
    <th nowrap>frameworks & tools</th>
    <th>databases</th>
  </tr>

<% let num = 1; %>
<% for (let p of projects) {  %>

  <tr>
    <td class="text-center"><%= num %></td>
    <td><%- tmpLink(p.name, p.project_count) %></td>
    <td class="cell-years"><%= getYears(p) %></td>
    <td><%- p.description %></td>
    <td class="cell-ln"><%- makeList(p.languages, 'name') %></td>
    <td class="cell-ft"><%- makeList(p.frameworks, 'name') %></td>
    <td nowrap class="cell-db"><%- makeList(p.databases, 'name') %></td>

  </tr>
<% num++; %>
<% } %>

</table>

<%- include('includes/layout-footer.ejs') %>
