<%- include('includes/layout-header.ejs') %>



<style>
.foo42 {
  font-size: .8em;
  color: #777;
}

.test42 {
  padding-top: 1em;
  padding-bottom: 1.5em;
  font-size: .9em;
}

.test43 {
}

.test44 {
  font-size: .8em;

}

.test45 {
  display: block;
    text-align:right;
      line-height: 1em;
}


</style>




Text about project groups and what all this is goes here. HOw they are organized, and why some have
a lot (30, 32) and some just one - because they are different types of stuff. And that some are cool
(edisco, orm, playerc), and some are boring (static, cms).

<div class="row test42 justify-content-md-center">


  <div class="col-md-auto test43">
    <a href="">This website++</a> <span class="foo42">(3 projects)</span><br>
    <a href="">Digital image archive</a> <span class="foo42">(2 projects)</span><br>
    <a href="">Text analysis &amp; IR</a> <span class="foo42">(8 projects)</span><br>
  </div>
  <div class="col-md-auto test43">
    <a href="">E-discovery</a> <span class="foo42">(1 project)</span><br>
    <a href="">Cool school stuff</a> <span class="foo42">(3 projects)</span><br>
    <a href="">Plugins for Vim</a> <span class="foo42">(3 projects)</span><br>
  </div>
  <div class="col-md-auto test43">
    <a href="">ORM &amp; code generation</a> <span class="foo42">(1 project)</span><br>
    <a href="">Content management</a> <span class="foo42">(32 projects)</span><br>
    <a href="">Static websites</a> <span class="foo42">(30 projects)</span><br>
  </div>

</div>

<div class="ic4f-h-filter-container">

  <select class="custom-select">
    <option selected>all project groups</option>
    <option>This website++
    <option>Digital image archive
    <option>Text analysis &amp; IR
    <option>E-discovery
    <option>Cool school stuff
    <option>Plugins for Vim
    <option>ORM &amp; code generation
    <option>Content management
    <option>Static websites
  </select>
  

  <select class="custom-select">
    <option selected>all languages</option>
    <% for (let foo of languages) { %>
    <option value="<%= foo._id %>"><%= foo.name %> (<%= foo.projects %>)</option>
    <% } %>
  </select>
  
  <select class="custom-select">
    <option selected>all frameworks</option>
    <% for (let foo of  frameworks) { %>
    <option value="<%= foo._id %>"><%= foo.name %> (<%= foo.projects %>)</option>
    <% } %>
  </select>
  
  <select class="custom-select">
    <option selected>all databases</option>
    <% for (let foo of databases) { %>
    <option value="<%= foo._id %>"><%= foo.name %> (<%= foo.projects %>)</option>
    <% } %>
  </select>
</div>

<table class="table table-bordered table-striped ic4f-projects">
  <tr>
    <th class="text-center">#</th>
    <th>project</th>
    <th class="text-center">years</th>
    <th>description</th>
    <th>languages</th>
    <th>frameworks</th>
    <th class="text-center">databases</th>
  </tr>

<% let num = 1; %>
<% for (let p of projects) {  %>

  <tr>
    <td class="text-center"><%= num %></td>
    <td class="cell-project"><%- getProject(p) %></td>
    <td class="cell-years"><%= getYears(p) %></td>
    <td><%- p.description %> <span class="test45">
        <a class="test44" href=""><%= p.group %></a></span></td>
    <td class="cell-ln"><%- makeList(p.languages, 'name') %></td>
    <td class="cell-ft"><%- makeList(p.frameworks, 'name') %></td>
    <td nowrap class="cell-db"><%- makeList(p.databases, 'name') %></td>

  </tr>
<% num++; %>
<% } %>

</table>

<%- include('includes/layout-footer.ejs') %>
