<%- include('includes/layout-header.ejs') %>



<select class="custom-select">
  <option selected>all languages</option>
  <% for (let foo of languages) { %>
  <option value="<%= foo._id %>"><%= foo.name %> (<%= foo.projects %>)</option>
  <% } %>
</select>

<select class="custom-select">
  <option selected>all frameworks</option>
  <% for (let foo of  frameworks) { %>
  <option value="<%= foo._id %>"><%= foo.name %> (<%= foo.projects %>)</option>
  <% } %>
</select>

<select class="custom-select">
  <option selected>all databases</option>
  <% for (let foo of databases) { %>
  <option value="<%= foo._id %>"><%= foo.name %> (<%= foo.projects %>)</option>
  <% } %>
</select>

  <p>

<table class="table table-bordered">
  <tr>
    <th>#</th>
    <th>project</th>
    <th>type</th>
    <th>years</th>
    <th>languages</th>
    <th>frameworks+</th>
    <th>database</th>
    <th>github</th>
  </tr>

<% for (let p of projects) { %>
  <tr>
    <td class="text-center">0</td>
    <td><a href="<%= p._id %>"><%= p.name %></a></td>
    <td><%= p.types %></td>
    <td><%= p.year_start %></td>
    <td><%= makeList(p.languages, 'name') %></td>
    <td><%= makeList(p.frameworks, 'name') %></td>
    <td><%= makeList(p.databases, 'name') %></td>
    <td><%= p.github_url %></td>
  </tr>
<% } %>

</table>

<%- include('includes/layout-footer.ejs') %>
